{% extends 'Blog/base.html' %}
{% block body_block %}
{% load static %}

<!-- carousel start -->
<div class="container-lg bg-light px-8">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <!-- img -->
                <img style="width: 100%;" src="{% static 'img/home-11.jpg' %}">

            </div>
            <div class="carousel-item">
                <!-- img -->
                <img style="width: 100%;" src="{% static 'img/home-1.jpg' %}">
            </div>

            <div class="carousel-item">
                <!-- img -->
                <img style="width: 100%;" src="{% static 'img/home-3.jpg' %}">

            </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<!-- carousel ends  -->
<!-- hoizontal blog -->
<div class="container">
    {% for post in posts %}
    <div class="card shadow mb-5 mt-5">
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    <h2>{{ post.title }}</h2>
                    <p>{{ post.content|slice:":150"|safe }}</p>
                    <a class="btn btn-outline-primary" href="/article/{{ post.id }}">Read more</a>
                </div>
                <div class="col-md-4">
                    <img src={{ post.image.url }} class="rounded img-fluid" alt="bootcatch carousel blog">
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<!-- end horizontal blog -->
<div class="container">
    <div class="card mb-5 shadow">
        <div class="card-body">
            <h1 class="text-center">Our Team</h1>
            <hr>
            <div class="row">
                <div class="col-md-3 text-center mb-3">
                    <div class="mb-3">
                        <img src="https://placehold.it/150x150" class="img-fluid rounded-circle"
                            alt="bootcatch carousel blog">
                    </div>
                    <h4>Vidyut jamwal</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et </p>
                    <button class="btn btn-primary">Read More</button>
                </div>
                <div class="col-md-3 text-center mb-3">
                    <div class="mb-3">
                        <img src="https://placehold.it/150x150" class="img-fluid rounded-circle"
                            alt="bootcatch carousel blog">
                    </div>
                    <h4>Vidyut jamwal</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et </p>
                    <button class="btn btn-primary">Read More</button>
                </div>
                <div class="col-md-3 text-center mb-3">
                    <div class="mb-3">
                        <img src="https://placehold.it/150x150" class="img-fluid rounded-circle"
                            alt="bootcatch carousel blog">
                    </div>
                    <h4>Vidyut jamwal</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et </p>
                    <button class="btn btn-primary">Read More</button>
                </div>
                <div class="col-md-3 text-center mb-3">
                    <div class="mb-3">
                        <img src="https://placehold.it/150x150" class="img-fluid rounded-circle"
                            alt="bootcatch carousel blog">
                    </div>
                    <h4>Vidyut jamwal</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et </p>
                    <button class="btn btn-primary">Read More</button>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}