{% extends 'Blog/base.html' %} {% load static %} {% block body_block %}


<link rel="stylesheet" type="text/css" href="{% static 'css/add.css' %}">
<title>Login Template</title>
</head>

<body>
    <div class="container col-4 mt-5 ">
        <div class="row-5 blog mb-5 bg-white card rounded-0 shadow-sm pb-2 pt-2">
            <div class="card-body">
                <h3>Register </h3>
                <hr>
                <form method="post">
                    <div class=" form-group  ">
                        <label>First name</label> {{ form.username }}
                    </div>
                    <div class=" form-group ">
                        <label>Password</label> {{ form.password }}
                    </div>

                    <button type="submit " class="btn btn-primary ">Login</button> {% csrf_token %}

                </form>
                Need to create Account? <a class="ml-2" href="{% url 'register' %}">Sign Up</a><br>
                <a class="ml-2" href="{% url 'password_reset' %}">Forget password?</a>
            </div>
        </div>
    </div>
    {% endblock %}