{% extends 'Blog/base.html' %} {% load static %} {% block body_block %}


<div class="container pt-4 px-2 pb-2 py-8">
    <div class="row bg-light rounded justify-content-center mx-0">
        <div class=" col-md-8 col-lg-6 mx-auto d-table h-50">
            <div class="d-table-cell align-middle">
                <h2>You are logged out</h2>
                <div class="border-top pt-3">
                    <small class="text-muted">
                        <a class="btn btn-primary" href="{% url 'login' %}">Log In again</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer -->
<style>
    #footer {
        position: absolute;
        bottom:0;
        width: 100%;
    }
</style>
<div class="footer bg-light" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>© 2018 - 2019 Copyright by Bootcatch.com</p>
            </div>
            <div class="col-md-6 d-flex justify-content-end">
                <a href="#back-to-top">Back to top</a>
            </div>
        </div>
    </div>
</div>
<!-- end footer -->
    {% endblock %}