{% extends 'base_dash.html' %}
{% block body_block %}


<!-- Blank Start -->
<div class="container pt-4 px-2 pb-2">
    <div class="row  justify-content-center mx-0">
        <h2 class="mb-0">Edit your Article
        </h2>
    </div>

    <div class="container pt-4 px-2 pb-2">
        <div class="row bg-light rounded align-items-center justify-content-center mx-0">
            <div class="col-md-4">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5 px-4">
                    <img class="rounded-circle account-img" src="{{ user.profile.img.url }}" width="100%"><br>
                    <h3><span class="font-weight-bold"> {{user.first_name | title}} {{user.last_name | title}}</span>
                    </h3>
                    <b><span class="text-black-50">{{ user.email }}</span></b>
                </div>
            </div>
            <div class="col-md-6 px-12">
                <div class="p-3 py-5 ">
                    <div class="col-md-6">
                        <form method="post">
                            {{ u_form.as_p }}
                            {{ p_form.as_p }}
                            <button class="btn btn-primary profile-button" type="submit">Save
                                Profile</button>
                            {% csrf_token %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blank End -->

    {% endblock %}