{% extends 'Blog/base.html' %} {% load static %} {% block body_block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/add.css' %}">
<title>Login</title>
</head>

<body>
    <div class="container col-5 mt-3">
        <div class="row mb-2 bg-white card rounded-0 shadow-sm pt-15">
            <div class="card-body">
                <h3>Register </h3>
                <hr>
                <form method="post">
                    <div class=" form-group ">
                       {{ form.as_p }}
                    </div>
                    <button type="submit " class="btn btn-primary ">Register</button> 
                    {% csrf_token %}
                </form>
                Already have Account? <a class="ml-2" href="{% url 'login' %}">Log in</a>
            </div>
        </div>
    </div>
    {% endblock %}