{% extends 'base_dash.html' %}
{% block body_block %}

<div class="row px-4 pt-5">

    <h4 class="mb-0">Your Articles
    </h4>
</div>

{% for post in posts %}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-9">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <div class="ms-3">
                    <h6 class=" blog-category text-info text-uppercase">{{ post.category}}</h6>
                    <h3 class="blog-title"> “ {{post.title}} ” </h3>
                    <p class=" blog-description p-2"> {{ post.content|slice:":150"|safe }}
                        ...........<a href="/article/{{ post.id }}"> Read More </a>
                    </p>
                    <p class="blog-author"><a href="#">Written by: {{ post.author }}</a>
                    </p>
                </div>
                <div class=" pull-right">
                    {% if post.status == 'Draft' %}
                    <i><h5 type= "button" style="color:Red;">Draft</h5></i>
                    {% else %}
                    <p class=""><i>published on:{{ post.date_posted|date:"d-m-Y" }}</i>
                        {% endif %}
                    </p>
                    {% if post.author == user %}
                    <div>
                        <br>
                        <a href="/update/{{ post.id }}" class="btn btn-primary">Update</a>
                        <a href="/delete/{{ post.id }}" class="btn btn-primary">Delete</a>
                    </div>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
</div>
{% endfor %}
{% endblock %}